.container {
    width: 100%;
    height: 90vh;
    display: flex;
    position: relative;
    overflow: hidden;
    justify-content: center;
    justify-items: center;
}
.vd{
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
    filter: blur(2px);
  -webkit-filter: blur(2px);
}
.maindiv{
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    background-color: rgba(0,0,0,.5);
    font-family: 'Oswald', sans-serif;
    padding: 0px 10px;
    border-radius: 20px;
    max-width: 80%;
    .maintxt{
        color: rgba(237, 202, 18,.9);
        font-size: 48px;
        font-weight: 700;
        @media screen and (max-width:786px){
            font-size: 40px;
        }
        @media screen and (max-width:480px){
            font-size: 32px;
        }
    }
    .mainp{
        text-align: left;
        font-size: 25px;
        font-weight: 300;
        padding-left: 30px;
        color: #fff;
        display: flex;
        justify-self: flex-start;
        @media screen and (max-width:786px){
            font-size: 20px;
        }
        @media screen and (max-width:480px){
            font-size: 15px;
        }
    }
    .mainbtn{
        border-radius: 20px;
        background-color: #01BF71;
        padding: 14px 48px;
        color: #fff;
        outline: none;
        border: none;
        transition: all 0.2s ease-in-out;
        margin-bottom: 20px;
        &:hover{
            transition: all 0.2s ease-in-out;
            background-color: #04663d;
        }
        .mainicon{
            font-size: 20px;
            @media screen and (max-width:786px){
                font-size: 15px;
            }
            @media screen and (max-width:480px){
                font-size: 10px;
            }
        }
    }
}
