@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html {
    font-family: 'Nunito', sans-serif;
}

.instructions {
    font-size: 1rem;
    border-radius: 0.5rem;
    background: rgb(168, 26, 2);
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: 5px;
    font-weight: 400;
    
}

.instructions > svg {
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}