.card{
	margin: 0;
	padding: 0;
    background-color: rgb(244, 229, 211);
	/* background-image: url( "../images/back.jpg"); */
	background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    /*top: 0; 
    left: 0;*/ 
	/* Preserve aspet ratio */
	min-width: 100%;
	min-height: 100%;
}

html, body {
    height:100%;
} 

body {
    padding-top: 0px;
    /* background-image: url( "../images/background.jpg")  ; */
    background-size: auto 100% !important;
    background-repeat: no-repeat !important;
    background-position: left top !important;
}

img{
	/* border-radius: 50%; */
}