.main{
height: 100%;
width: 100%;
margin: 0;
position: absolute;
}

/* .Background{
    
  height: 100%;
  padding: 0.5em;
  }
  */


.Shadow{
    margin-top: -100px;
    background: hsla(0, 0%, 100%, 0.8);
    backdrop-filter: blur(30px);
    background-color: rgb(198, 185, 197);
    display: block;
}

  .container {
      margin-top: 2em;
      place-content: center;
      height:calc(90vh - 10px);
      overflow: hidden;
      display: flex;
      place-items: center;
      position: relative;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: rgb(92, 176, 177);
      background-clip: border-box;
      border: 1px solid rgba(107, 127, 133, 0.125);
      border-radius: 0.5rem;
      background-image: linear-gradient(to bottom right, rgba(225, 154, 147), rgba(219, 187, 158))
  }

  /* .inputForm  {
      width: 300px;
      height: 30px;
      border-radius: 9px;
      padding: 1px 11px;
      border: 1px solid #eabf65;
      } */
      
.login-btn{
text-align: center;
margin: 1em;
border-radius: 0.5em 0.5em 0.5em 0.5em;
cursor: pointer;
background-color: #9a9e9f;
color: rgb(176, 233, 234);
font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
font-size: 14px;
line-height: 1;
padding: 0.5em;

}
      
.formEdit{
padding: 1em;
margin: -5em;
place-content: center;
background: linear-gradient(223deg, #807c83, #91777700);
box-shadow: 4px -9px 41px;
border-radius: 20px;
}

/* .gradient{
box-shadow: 13px -7px;
width: 100;
height: 100%;
} */

.icon {
padding: 10px;
color: green;
min-width: 50px;
text-align: center;
}

.login {
  /* background-image: linear-gradient(to bottom right, rgb(237, 215, 235), rgb(87, 100, 110)) */
  background-image: url('https://wallpaperaccess.com/full/3876079.jpg');
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  right: 0;
  top:0;
  bottom: 0;


}


.form{
  position: absolute;
  top: 33%;
  justify-content: center;
  justify-items: center;

}

      /* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
/* .fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
} */

.button {
  border-radius: 0.5em;
  padding: 10px;
  
}
.Currbtn{
  font-size: 20px;
}

.fwForm{
  padding: 0.5em;
  margin: -4em;
  position: absolute;
  top: 22%;
}