.plusBtn{
    background-color:rgb(230, 105, 136);
    position: absolute;
    top: 9.5%;
    right: 0;
    cursor: pointer;
}
.logout{
    position: absolute;
    top: 1%;
    right: 1%;
    cursor: pointer;
}
.nav-tabs{
    background-color: rgb(219, 207, 207);
}
.nav-item{
    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    background-color: rgb(219, 207, 207);
}
.nav-item button{
    color: rgb(155, 57, 81);
    
}
.nav-link button:hover , .nav-link:focus{
    color: aliceblue;
}
.error{
    color: red;
}

input[type="file"] {
    /* display: none; */
    color: rgb(122, 26, 26);
}

input[type="file"]::file-selector-button{
    border: 2px solid rgb(230, 105, 136);
    color: white;
    border-radius: .2em;
    background-color: rgb(230, 105, 136);
    transition: 1s;
}

.upload-btn{
    color: white;
    font-size: 1.1em;
    font-weight: 700;
    background-color: rgb(230, 105, 136);
    border-radius: 5rem;
    display: inline-block;
}
.upload-btn:hover{
    background-color: rgb(139, 52, 52);
    cursor: pointer;
}
