@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }