.parentContainer{
    min-height: 130vh;
    width: 100%;
    margin: 0;
    background-color: rgba(3, 3, 3, 0.32);
}
/* img{
    width: 170px;
    height: 170px;
} */
.beside {
    float:left;
    width: 65%;
    color:rgb(0, 0, 0);
    margin-left:20px;
    text-align: left;
}
.cardAndrateAndselect{
    float:left; 
    margin-bottom: 15px;
    width: 350px;
    margin-left: 10px;
}
.description{
    
    width:100%;
    height:250px;
    margin: 10px 20px 20px 10px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: #c56d32 #b69a88;
    scrollbar-width: thin;
    background: linear-gradient(to right, rgba(159, 2, 51, 0.393), rgba(3, 99, 41, 0.58));
    border: 5px solid #efcb00 ;
    border-radius:10px;
    border-color:rgb(218, 226, 103);
    color: white;
    font-size:1.3rem;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.description p {
    padding-top: 15px;
    padding-left: 10px;

}
.authorname, .category{
    color:rgb(255, 255, 255);
}
/* .authorname:hover{
    color:white;
} */

.authorbooks{
    width: 90%;
    height:350px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 1% 4%;
    clear:both;
    text-align:left;
    border-radius: 10px;
    background: linear-gradient(to right, rgba(159, 2, 51, 0.393), rgba(3, 99, 41, 0.58));
    border: 5px solid #efcb00 ;
    color: white;
    font-size:1.3rem;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
}
h5{
    padding-left: 10px;

}
.bookimg{
    float:left;
    margin-right: 10px;
}

.selectandrating{
    float:right;
    
}

.booksofauthor{
    margin:10px;
}
.mainbtn{
    clear: both;
    border-radius: 20px;
    background-color: #04df16;
    /* padding: 14px 50px; */
    display: inline-block;
    min-width: 200px;
    min-height: 50px;
    color: #fff;
    outline: none;
    border: none;
    transition: all 0.2s ease-in-out;
    /* margin-bottom: 20px; */
    /* position: absolute;
    left:190px;
    top:10px */
}
.addToListBtn{
    border-radius: 20px;
    margin-top: 20px;
    background-color: #04df16;
    padding: 14px 48px;
    color: #fff;
    outline: none;
    border: none;
    transition: all 0.2s ease-in-out;
    margin-bottom: 20px;
}
.mainbtn:hover{
    transition: all 0.2s ease-in-out;
    background-color: #04663d;
}
.mainicon{
font-size: 30px;
}
.selectt{
    /* position: relative; */
    /* margin-top: 500px;
    margin-left: 100%; */
    height: 60px;
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    width: 450px;
    z-index: 2;
}
.ratingg{
    clear:both;
    /* position: relative;*/
    margin-left: 20px; 
    background-color: #fff;
    border-radius: 20px;
    width: 450px;
    height: 250px;
    padding: 20px 0px;
    overflow: hidden;
}
/* Small Screens */
@media (max-width:480px) {
    .ratingg {
      width: 350px;
    }
  }
::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(214, 226, 47); 
  }
   
  .userRatingnum{
      margin-left:20px;
      color:#ffffff;
  }

  body{
      /* background-color:#ade0f4; */
      font-size: larger;
  }
  h3{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-weight:900;

}
a{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: "bold";
}