@import url('http://fonts.cdnfonts.com/css/new-century-schoolbook');
.parentContainer{
    margin:20px;
}

.beside {
    float:left;
    color:rgb(218, 226, 103);
    margin-left:30px;
    text-align: left;
}
.card{
    float:left;
    margin-bottom: 15px;
}
.description{
    width: 900px;
    height:300px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: #c56d32 #b69a88;
    scrollbar-width: thin;
    border:solid 0.5px;
    border-radius:5px;
}
.description p {
    color:rgb(16, 9, 9);
    font-family: "New Century Schoolbook", TeX Gyre Schola, serif;
    font-size: 20px;
    padding-top:25px;
    padding-left: 5px;
}

.authorbooks{
    
    height:350px;
    overflow-y: auto;
    overflow-x: hidden;
    
    clear:both;
    text-align:left;
    border:solid 1px;
    border-radius: 10px;
    
}
h5{
    color:rgb(218, 226, 103);
    padding-left: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.bookimg{
    float:left;
    margin-right: 10px;
}

.selectandrating{
    float:right;
    
}

.booksofauthor{
    
    margin:10px;
}